@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-12 10:36:24
 * @version $Id$
 */


/*
   css 书写说明
   1.位置属性(position, top, right, z-index, display, float等)
　　2.大小(width, height, padding, margin)
　　3.文字系列(font, line-height, letter-spacing, color- text-align等)
　　4.背景(background, border等)
　　5.其他(animation, transition等)
*/
/* 公共  */
body{ margin: 0; font-family: "微软雅黑";}
/*
a{ text-decoration: none;}
ul,p {margin: 0; padding: 0;}
li {list-style: none;}
img {border: 0;}
*/
.wrapper {width: 100%; min-width: 1000px;}
.wrap {width: 1000px;margin: 0 auto;}
.left {float: left;}
.right {float: right;}
.clear {clear: both;}
.f14 {font-size: 14px;}
.f17 {font-size: 17px;}
.f20 {font-size: 20px;}
.bg_fc614d {background-color: #fc614d;}
.bg_ff7e69 {background-color: #ff7e69;}
.fc5f4e {color: #fc5f4e;}
.w100 {width: 100%;}
.mr0 {margin-right: 0;}

/* top */
.topnav {height: 44px; background: #2d313d;}
.topnav .head {height: 44px;line-height: 44px;}
.topnav .fl, .topnav .fr{width: 500px;}
.topnav p {color: #cccfd8;font-size: 13px;}
.topnav .fl p,.topnav .fl div {float: left;margin: 0 20px 0 0;}
.topnav .fl>div {position: relative; width: 24px;margin: 10px 10px 0 0;}
.topnav .fl>div>div {width: 24px; height: 24px;}
.topnav .weiboDiv>div{background: url(/client/static/img/weibo.png) no-repeat 0 0; background-size: 24px;}
.topnav .weiboDiv:hover>div {background: url(/client/static/img/weiboH.png) no-repeat 0 0; background-size: 24px;}
.topnav .fl>div>img {display: none; position: absolute; z-index: 10; margin: 40px 0 0 -45px;}
.topnav .fl>div:hover>img {display: block;}
.topnav .fl .weChatDiv>div {background: url(/client/static/img/weChat.png) no-repeat 0 0; background-size: 24px;}
.topnav .fl .weChatDiv:hover>div {background: url(/client/static/img/weChatH.png) no-repeat 0 0;background-size: 24px;}
.topnav .fr p{ float: right; margin-left: 20px; cursor: pointer;}
.topnav .fr p:hover {color: #fff;}

/* header2 */
.mainbav {height: 70px; background: #fff; border-bottom: 1px solid #dedede;}
.mainbav .fl a{ display: block; margin-top: 22px;}
.mainbav .fr a{ float: right; margin-left: 10px; padding: 0 10px; color: #505a78; font-weight: bold; line-height: 67px;}
.mainbav .fr a:hover, .mainbav .fr a.active{ color: #ff6251; border-bottom: 4px solid #ff6251;}


/* banner版块 整体样式*/
.column-banner {position: relative; overflow: hidden;}
/* banner js插件css （.banner开头的才是banner所需样式） */
.banner {height: 320px; position: relative;}
.banner ul {height: 320px;}
.banner ul li {position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 320px; opacity: 0; transition: opacity 1.5s;
	-webkit-transition: opacity 1.5s; -o-transition: opacity 1.5s; -moz-transition: opacity 1.5s;
}

.banner ul li a {display: block; width: 100%; height: 100%; background-size: 1800px 320px;}
.banner .dot {position: absolute; left: 30%; bottom: 25px; z-index: 3;}

.banner .dot span {display: inline-block; width: 10px; height: 10px; margin-right: 6px; background: #808588; border-radius: 5px;}
.banner .dot span.active {background: #474d4d;}
.banner .fl,.banner .fr {position: absolute; top: 139px; z-index: 3; display: block; width: 33px; height: 46px; cursor: pointer;}
.banner .fl {left: 50%; margin-left: -550px; background: url(/client/static/img/left.png) no-repeat 0 0;}
.banner .fr {right: 50%; margin-right: -550px; background: url(/client/static/img/right.png) no-repeat 0 0;}

/*banner版块 欢迎界面样式 */
.column-banner .wrap {position: absolute; right: 50%; top: 48px; z-index: 5; width: 300px; height: 232px; margin-right: -500px; background: rgba(255, 255, 255, 0.8);border-radius: 5px; overflow: hidden;}
.column-banner p {margin: 0 auto; width: 100%; text-align: center; color: #515a77;  }
.column-banner .p1 {margin: 28px auto 16px;}
.column-banner .p1 .hong {font-size: 28px; font-weight: bold;}
.column-banner .p3 a {display: block; margin: 29px auto 12px; width: 190px; height: 44px; font-size: 17px; line-height: 44px; color: #fff; background-color: #fc614d; border-radius: 5px;}
.column-banner .p4 a {text-decoration: underline; color: #515a77;}
.column-banner .p11 {margin: 28px auto 26px; font-size: 18px; font-weight: bold;}
.column-banner .p12 {margin: 6px auto; font-size: 16px;}
.column-banner .p12 .hong {font-weight: bold; font-family: arial; font-size: 18px; color: #fc5f4e;}
.column-banner .p13 a {display: block; float: left; width: 50%; height: 44px; margin-top: 26px; font-size: 16px; line-height: 44px; color: #fff;}

/* 产品重磅出击 版块 */
.column-title {height: 130px; background: #fff;}
.column-title .wrap {height: 130px;}
.column-title a{ display: block; float: left; width: 196px; margin: 40px 70px 0 0;}
.column-title a.mr0 { margin-right: 0;}
.column-title a img {float: left;}
.column-title a span {display: block; padding-left: 70px; color: #505a78;}
.column-title a .span1 {margin: 6px 0 4px 0; font-size: 14px;}
.column-title a .span2 {font-size: 18px; font-weight: bold;}

/* 推荐版块 */
.column-mod {height: 390px; padding-top: 30px; background: #f3f4f8;}
.column-mod .title {width: 985px; margin: 0 auto 30px; padding-left: 10px; border-left: 5px solid #ff7761; font-weight: bold; font-size: 19px; color: #505a78;}
.column-mod .title span {margin-left: 10px; color: #ff7761; font-size: 16px; font-weight: normal;}
.column-mod .title .more {float: right; color: #807f7f; font-weight: normal; font-size: 16px;}
.column-mod ul li{float: left; width: 226px; height: 278px; margin-right: 24px; background-color: #fff; box-shadow: 0 1px 5px 0px #909092; border-radius: 10px; overflow: hidden;}
.column-mod ul li:hover {
    box-shadow: 0 1px 22px 1px #FA816E; 
    border-radius: 50px; 
    transition: all 1s; 
    -webkit-transition: all .3s; 
    -o-transition: all .5s;  
    -moz-transition: all .5s; 
    transform: scale(1.1);
}
.column-mod li a {position: relative; display: block; height: 100%;}
.column-mod li p {width: 100%; text-align: center;}
.column-mod li .p31{height: 70px; font-weight: bold; font-size: 18px; line-height: 70px; color: #43454a;}
.column-mod li div {width: 110px; height: 110px; margin: 0 auto; border: 1px solid #a8b9d7; border-radius: 50%;}
.column-mod li .p32 {height: 60px; font-size: 40px; font-family: arial; line-height: 86px; color: #3e4d74;}
.column-mod li .p33 {height: 46px; font-size: 14px; line-height: 26px; color: #807f7f;}
.column-mod li .p34 {margin-top: 8px; font-size: 16px; color: #43454a;}
.column-mod li .p35 {position: absolute; left: 0; bottom: 0; z-index: 2; height: 44px; width: 100%; font-size: 18px; line-height: 44px; letter-spacing: 2px; color: #fff; background-color: #ff6046;}
.column-mod li .p36 {position: absolute; top: -4px; right: -53px; z-index: 2; height: 44px; width: 142px; font-size: 12px; line-height: 63px; color: #fff;  background-color: #ff6046;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

/* 活动精选 */
.column-hdjx {height: 390px; padding-top: 30px; background: #f3f4f8;}
.column-hdjx .title {width: 985px; margin: 0 auto 30px; padding-left: 10px; border-left: 5px solid #ff7761; font-weight: bold; font-size: 19px; color: #505a78;}
.column-hdjx .title span {margin-left: 10px; color: #ff7761; font-size: 16px; font-weight: normal;}
.column-hdjx .title .more {float: right; color: #807f7f; font-weight: normal; font-size: 16px;}
.column-hdjx ul li {float: left; width: 230px; height: 150px; margin-right: 20px; background-color: #fff; overflow: hidden;}
.column-hdjx ul li:hover {
    box-shadow: 0 1px 22px 1px #FA816E; 
    border-radius: 50px;
    transition: all 1s;
    -webkit-transition: all 0.3s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transform: scale(1.1);
}
.column-hdjx li a {position: relative; height: 100%; display: block;}
.column-hdjx li a>img {position: absolute; top: 0; left: 0; z-index: 0;}
.column-hdjx li p {position: relative; z-index: 1; width: 100%; text-align: center;}
.column-hdjx li .p51 {height: 70px; font-weight: bold; font-size: 18px; line-height: 70px; color: #43454a;}
.column-hdjx li .p54 {margin-top: 8px; font-size: 16px;color: #43454a;}
.column-hdjx li .p55 {position: absolute; left: 10px; top: 10px; z-index: 1; width: 20px;height: 20px;}
.column-hdjx li .p55 {position: absolute; left: 10px; top: 10px; z-index: 1; width: 38px; height: 38px;}
.column-hdjx li .p55 img{}

